<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<h1>Registration form</h1>
<form th:action="@{/registration}" th:object="${user}" method="POST" enctype="utf8">
    <p>
        <span th:text="${error}"/>
    </p>
    <div>
        <label>Username: </label>
        <input th:field="*{username}" required/>
    </div>
    <div>
        <label>Password: </label>
        <input type="password" th:field="*{password}" required/>
    </div>
    <button type="submit" th:text="Register"/>
</form>

<a th:href="@{/login}">Login</a>
</body>
</html>